extends layouts/master

block content
    header.pure-menu.pure-menu-horizontal.red-bg
        a(href="").pure-menu-heading.pure-menu-link
            h2.no-padding.no-margin.white TRIPPA
        ul.pure-menu-list
            li
                a(href="").white LeaderBoard

    .pure-u-g

        // Results tab
        .pure-u-1-6.results.text-center
            .pure-u-g
                .pure-u-1.info
                    h2#wpm 0
                    small wpm

            .pure-u-g
                .pure-u-1.info
                    h2#typos 0
                    small typos

            .pure-u-g
                .pure-u-1.info
                    h2#accuracy 0%
                    small acc

        .pure-u-2-3
            .pure-u-g.text-to-type
                .pure-u-1
                    h3#guide-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .pure-u-g
                .pure-u-1
                    textarea#typing-field.pure-input-1(type="text" name="typing-field" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit...")

                    span.label.green-bg.white.padding-xs.space Note:&nbsp;
                        strong The timer will start when you start typing!

        .pure-u-1-6.text-center
            .pure-u-g.timer
                .pure-u-1
                    h2#time 60
                    small seconds

            .pure-u-g
                 .pure-u-1
                    button#reset-time.pure-button.button-warning.white reset

