extends layouts/master

block content
    header.pure-menu.pure-menu-horizontal.red-bg
        a(href="").pure-menu-heading.pure-menu-link
            h2.no-padding.margin-xs.white
                i.fa.fa-bullseye&nbsp;
                | TRIPPA

        ul.pure-menu-list.pull-right
            li
                a(href="javascript:;").open-leaderboard.white
                    i.fa.fa-list&nbsp;
                    | View LeaderBoard

    .pure-u-g.clear
        // Results tab
        .pure-u-1-6.results.text-center
            .pure-u-g
                .pure-u-1.info.blue
                    h2.showing#wpm 0
                    small
                        i.fa.fa-keyboard-o&nbsp;
                        | wpm

            .pure-u-g
                .pure-u-1.info.red
                    h2.showing#typos 0
                    small
                        i.fa.fa-times&nbsp;
                        | typos

            .pure-u-g
                .pure-u-1.info.green
                    h2.showing#accuracy 0
                        span
                            small.small %
                    small
                        i.fa.fa-bullseye&nbsp;
                        | acc

        .pure-u-2-3
            .pure-u-g.text-to-type
                .pure-u-1
                    h3#guide-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            .pure-u-g
                .pure-u-1
                    textarea#typing-field(type="text" name="typing-field" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit...")

                    span.label.green-bg.white.padding-xs.space
                        strong Note:&nbsp;
                        | The timer will start when you start typing!

        .pure-u-1-6.text-center
            .pure-u-g.profile
                .space
                .pure-u-1
                    img.profile-pic(src="http://lorempixel.com/g/200/200/cats")
                    h3.profile-name Login to save/track your results
                    small
                        button#facebookButton.pure-button.pure-button-primary
                            i.fa.fa-unlock-alt&nbsp;
                            | Log in

            .pure-u-g.timer
                .pure-u-1.red
                    h2.showing#time 60
                    small
                        i.fa.fa-clock-o&nbsp;
                        | seconds

            .pure-u-g
                 .pure-u-1
                    small
                        button#reset-time.pure-button.white reset


    .pure-u-g.board
        .pure-u-1-2.leaderboard.space.white-bg.animated.bounceOutRight
            h2.uppercase.red LeaderBoard
            table.pure-table.pure-table-horizontal
                thead
                    tr.table-titles
                        th #pos
                        th Name
                        th WPM
                        th Accuracy
                        th Last Typos

                tbody.leaderboard-results

        .pure-u-1
            .overlay

