@import 'base/variables';
@import 'base/utilities';
.profile-pic {
    max-width: 100px;
}

.bigFont {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}

.small {
    font-size: .4em
}

.info {
    .bigFont;
    padding: 1em 0;
    h2 {
        padding: 0;
        margin: 0;
    }
}

.timer {
    .bigFont;
    padding: 1em 0;
    h2 {
        padding: 0;
        margin: 0
    }
}

.text-to-type {
    #guide-text {
        color: lighten(color('#333'), 40%);
        font-size: 1.3em
    }
}

textarea {
    width: 100%;
    height: 250px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-size: 18px;
    font-family: Ubuntu, Tahoma, sans-serif;
    outline: none;
    color: lighten(green, 10%);
}

ul.pure-menu-list {
    height: inherit;
    padding: 1.25%;
    li {
        a {
            color: darken(@red, 30%);
            font-weight: bold;
        }
    }
}

.board {}

.leaderboard {
    position: fixed !important;
    top: 0;
    right: 0;
    z-index: 199;
    // display: none;
    // width: 100%;
    height: 100%;
    border-radius: 0;
    border-left: 2px solid lighten(@grey, 60%);
    padding: 1% 1.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    table {
        margin: 0 auto;
        width: 100%;
        tr {
            width: 100%;
            th {
                text-align: center;
                background-color: @red;
                color: @white;
                width: 20%;
            }
            td {
                text-align: center;
                width: 20%;
            }
        }
    }
}

.animated.bounceIn {
    opacity: 0.7 !important;
}
