footer.pure-u-g.red-bg.padding-xs
    .pure-u-1.text-center
        h4.no-padding.no-margin
            p.no-padding.no-margin.credits
                span.white &copy;2015 - Future, Made with&nbsp;
                i.fa.fa-heart.white&nbsp;
                a(href="https://twitter.com/kn9ts" style="color: #2c3e50") Eugene Mutai

