head
    title Trippa -- How fast are you?

    // Site meta data
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(http-equiv='cleartype', content='on')

    //- Favicons
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    //- link(rel="shortcut icon" type="image/png" href="")
    //- link(rel="shortcut icon" type="image/x-icon" href="")

    // Third-party CSS assets
    //- link(rel='stylesheet', href='./third_party/skeleton/css/normalize.css')
    link(rel='stylesheet', href='./third_party/pure/pure-min.css')
    link(rel='stylesheet', href='./third_party/animate.css/animate.min.css')
    link(rel='stylesheet', href='./third_party/fontawesome/css/font-awesome.min.css')

    // Your stylesheets
    link(rel='stylesheet', href='./dist/css/application.css')