// App's dependencies(libraries) and business logics
application-engine(description="all the application's JS files fall here")

    // jQuery library
    script(src="../third_party/jquery/dist/jquery.min.js")
    script(src="../third_party/underscore/underscore-min.js")

    //- Angularjs MVC, MVVM framework
    //- script(src="../third_party/angularjs/angular.min.js")

    // For cookies and touch support
    script(src="../third_party/jquery-cookie/jquery.cookie.js")

    // Time management
    script(src="../third_party/moment/min/moment.min.js")

    // Your app functions script
    script(src="../dist/js/timer.js")
    script(src="../dist/js/sentences.js")
    script(src="../dist/js/facebook.auth.js")
    script(src="../dist/js/application.js")
    script(src="../dist/js/apply.js")
    script.
        // enable CORS support
        $.support.cors = true;
        // Set cookie defaults
        if (jQuery && $.cookie) {
            $.cookie.defaults = {
                path: '/',
                expires: 432000 * 12,
                domain: location.href
            };
        }
        //on document ready, as soon as it begins to load
        var app = new Application();
        app.initialize();

        // Google Analytics: change UA-XXXXX-X to be your site's ID.
        //- (function(b, o, i, l, e, r) {
        //-     b.GoogleAnalyticsObject = l;
        //-     b[l] || (b[l] =
        //-     function() {
        //-     (b[l].q = b[l].q || []).push(arguments)
        //-     });
        //-     b[l].l = +new Date;
        //-     e = o.createElement(i);
        //-     r = o.getElementsByTagName(i)[0];
        //-     e.src = '//www.google-analytics.com/analytics.js';
        //-     r.parentNode.insertBefore(e, r)
        //- }(window, document, 'script', 'ga'));
        //- ga('create', 'UA-XXXXX-X');
        //- ga('send', 'pageview');

    //- Get all files to be used with gruntjs
    //- script(src='grunt/gruntconfig_assets.js')
    //- script(src='http://localhost:35729/livereload.js')