// Global CSS goes here
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
    cursor: default;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: lighten(color('#333'), 10%);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

body {
    cursor: default;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: lighten(color('#333'), 10%);
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.wf-active {
    body {
        font-family: 'Hind', sans-serif;
        font-weight: 400;
        font-size: 1.1em;
        color: lighten(color('#333'), 10%);
    }
}

a {
    text-decoration: none;
}

.padding-top {
    padding-top: 1.5em;
}

.require-margin {
    margin-bottom: 50px;
}

.red {
    color: @red;
}

.orange {
    color: @orange;
}

.green {
    color: @green;
}

.yellow {
    color: @yellow;
}

.blue {
    color: @blue;
}

.white {
    color: @white;
}

.grey {
    color: @grey;
}

.red-bg {
    background: @red;
}

.orange-bg {
    background: @orange;
}

.green-bg {
    background: @green;
}

.yellow-bg {
    background: @yellow;
}

.blue-bg {
    background: @blue;
}

.white-bg {
    background: @white;
    border-radius: 50%;
    border: 1px solid @white;
    vertical-align: middle;
}

.grey-bg {
    background: @grey;
    color: #999999;
}

.pale-grey-bg {
    background: @light-grey;
}

.sliding-panel {
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    background-color: @black;
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.2);
    left: 0;
    margin-left: -150%;
    min-height: @height0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: all .4s ease-in-out;
    width: @width4;
    z-index: 999;
    &:target {
        background-color: #B1E583;
        margin-left: 0%;
    }
}

.overlay {
    background: @black;
    display: none;
    left: 0;
    opacity: .7;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.content {
    margin: 0 auto;
    width: 80% !important;
}

.line {
    height: @height0;
    left: 0;
    position: fixed;
    top: 0;
    img {
        height: @height0;
    }
}

.space {
    padding: 2% 0;
}

.space-lg {
    padding: 5% 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.padding-xs {
    padding: 0.2em;
}

.padding-sm {
    padding: 0.45em;
}

.padding {
    padding: 0.8em;
}

.no-padding {
    padding: 0;
}

.margin {
    margin: 2% 0;
}

.margin-sm {
    margin: 1% 0;
}

.margin-xs {
    margin: .5% 0;
}

.auto-margin {
    margin: auto;
}

.no-margin {
    margin: 0;
}

.faded {
    opacity: 0.4;
}

.largetext {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.width-xs {
    width: 100px;
}

.width-sm {
    width: 200px;
}

.width-md {
    width: 300px;
}

.width-lg {
    width: 400px;
}

.width-responsive {
    width: @width4;
}

.border-xs {
    border-color: @light-grey;
    border-style: solid;
    border-width: 1px;
}

.border-styled {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

.curves {
    border-radius: 5px;
}

.link {
    cursor: pointer;
}

.hide {
    display: none;
}

.invisible {
    visibility: none;
}

.normal {
    font-weight: normal;
}

.small-padding {
    padding: 0.3em;
}

.error {
    span {
        color: #e74c3c;
    }
}

.no-scroll {
    height: @height0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.text-center {
    text-align: center;
}

.button-success {
    background: @green;
    /* this is a green */
}

.button-error {
    background: @red;
    /* this is a maroon */
}

.button-warning {
    background: @orange;
    /* this is an orange */
}

.button-dull {
    background: lighten(@grey, 70%);
    color: lighten(@grey, 40%);
}

.push-left {
    float: left;
}

.pull-right {
    float: right;
}
