// Variables go here
// Color variables (appears count calculates by raw css)
@color0: #fefefe; // Appears 3 times
@color1: #f39c12; // Appears 2 times
@color2: #ededed; // Appears 2 times
@color3: #000000; // Appears 2 times
@color4: #d82e2f; // Appears 2 times
@color5: #232323; // Appears 2 times
@color6: #2ecc71; // Appears 2 times
@color7: #27569c; // Appears 2 times
@color8: #ffde00; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width4: 100%; // Appears 4 times

// Height variables (appears count calculates by raw css)
@height0: 100%; // Appears 6 times

